body {
  font-family: 'monospace';
  background: white;
  color: white;
  overflow: hidden;
}
#terminal {
  position: absolute;
  width: 750px;
  height: 400px;
  margin-top: 50px;
  margin-left: 250px;
  background-color: black;
}
#handle {
  width: 750px;
  background: red;
  height: 30px;
}
#handle p {
  line-height: 30px;
  color: black;
  padding-left: 10px;
}
p, span {
  margin-top: 1px;
}
.info p, .terminal {
  display: none;
  word-wrap: break-word;
}
.comando:before {
  content: '$ ';
}
input {
  border: none;
  outline: none;
  width: 0;
  border: 1px solid black;
}
.blink {
  width: 5px;
  height: 13px;
  display: inline-block;
  background-color: white;
}​
